<div class="w-100 d-flex justify-content-center">
  <mat-card class="w-50">
    <div mat-card-title>Machines</div>
    <hr>
    <div *ngIf="contentLoaded | async" class="d-flex flex-wrap justify-content-center">
      <mat-accordion *ngFor="let location of locationService.locations() | async; let i = index" class="w-100">
        <mat-expansion-panel hideToggle [expanded]="i === openPanel" (opened)="openPanel = i">
          <mat-expansion-panel-header>
            <mat-panel-title>Machines at {{location.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col-12 d-flex flex-wrap justify-content-center">
            <div *ngFor="let machine of machineData | async" class="col-12">
              <div *ngIf="machine.location === location.id">
                <table class="w-100">
                  <tr>
                    <th>Snack Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                  </tr>
                  <tr *ngFor="let snack of machine.inventory">
                    <td>{{getSnack(snack.id)?.name}}</td>
                    <td>{{getSnack(snack.id)?.price | currency}}</td>
                    <td>{{snack.qty}}</td>
                  </tr>
                </table>
                <h3 class="font-weight-bold text-center pt-3">Machine value is {{calculateValue(machine.inventory) | currency}}</h3>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>
